
<!-- card start -->
<div class="col-sm mb-4" id="card" th:each="item:${listItems}">
	<div class="card" style="width: 18rem;">
		<!-- <img src="..." class="card-img-top" alt="Photo"> -->
		<div class="card-body">
			<div class="row" th:insert="items/itemType" id="itemType"></div>

			<h5 class="card-title" th:text="${item.titre}"></h5>

			<h6 class="card-title" th:text="${item.nom}"></h6>

			<h6 class="card-title"
				th:text="${#dates.format(item.dateDeParution, 'dd-MM-yyyy')}"></h6>

			<h6 class="card-title">
				Nombre d'exemplaires : <small th:text="${item.nombreDExemplaires}"></small>
			</h6>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>

			<span> <a class="btn btn-primary"
				th:href="@{/showItem(id=${item.id})}">Plus d'info</a>
			</span> <span sec:authorize="hasAuthority('USER')"> <a
				class="btn btn-success" th:href="@{faireEmprunt(id=${item.id})}">Emprunter</a>
			</span> <span sec:authorize="hasAuthority('ADMIN')"> <a
				th:if="${item.class.name == 'com.atos.mediatheque.entity.CD'}"
				th:href="@{editCD(id=${item.id})}" class="btn btn-success">Update</a>
				<a th:if="${item.class.name == 'com.atos.mediatheque.entity.DVD'}"
				th:href="@{editDVD(id=${item.id})}" class="btn btn-success">Update</a>
				<a th:if="${item.class.name == 'com.atos.mediatheque.entity.Livre'}"
				th:href="@{editLivre(id=${item.id})}" class="btn btn-success">Update</a>
			</span> <span sec:authorize="hasAuthority('ADMIN')"> <a
				onclick="confirm('Etes-vous sure de vouloir supprimer?')"
				class="btn btn-outline-danger mt-2"
				th:href="@{delete(id=${item.id})}">Supprimer</a>
			</span>

		</div>
	</div>

</div>

<!-- <nav th:insert="pagination" id="pagination"> -->
 
</nav>

<!-- card end -->

