
<div class="col-sm mb-4" id="emprunt" th:each="emprunt : ${listEmprunts}">
	<div class="card" style="width: 18rem;">
		<!-- <img src="..." class="card-img-top" alt="Photo"> -->
		<div class="card-body">
	
			<h5 class="card-title" th:text="${emprunt.id}"></h5>

			<div class="card-title"  th:each="item : ${emprunt.items}"  th:insert="items/itemType" id="itemType"></div>
		
			<h5 class="card-title">Titre : <span th:each="item : ${emprunt.items}" th:text="${item.titre}"></span></h5>
			
			<h6 class="card-title">Auteur : <span th:each="item : ${emprunt.items}" th:text="${item.nom}"></span></h6>
			
			<h6 class="card-title">Date de parution : <span th:each="item : ${emprunt.items}" th:text="${#dates.format(item.dateDeParution, 'YYYY')}"></span></h6>
			
			<h6 class="card-title">Nombre d'éxemplaire : <span th:each="item : ${emprunt.items}" th:text="${item.nombreDExemplaires}"></span></h6>
			
			<h6 class="card-title">Date d'emprunt : <span th:text="${#dates.format(emprunt.dateEmprunt, 'dd-MM-yyyy')}"></span></h6>
			
			<h6 class="card-title">Date de retour : <span th:text="${#dates.format(emprunt.dateRetour, 'dd-MM-yyyy')}"></span></h6>
			
			<span>
			<a class="btn btn-primary" th:href="@{restituer(id=${emprunt.id})}">Restituer</a>
			</span>
			
		</div>
	</div>
</div>
