
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
	<a class="navbar-brand" href="/">Mediatheque</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search"
			aria-label="Search">
	</form>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/cd}">CDs</a></li>
		</ul>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/dvd}">DVDs</a></li>
		</ul>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/livre}">Livres</a></li>
		</ul>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/createCD}">Créer un CD</a></li>
		</ul>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/createDVD}">Créer un DVD</a></li>
		</ul>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/createLivre}">Créer un livre</a></li>
		</ul>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/}">Chercher</a></li>
		</ul>
		<ul class="navbar-nav mr-auto" sec:authorize="!isAuthenticated()">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/connection}">Se connecter</a></li>
		</ul>
		<ul class="navbar-nav mr-auto" sec:authorize="!isAuthenticated()">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/inscription}">S'inrégistrer</a></li>
		</ul>
		<ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
			<li class="nav-item"><a class="nav-link"
				sec:authentication="name" th:href="@{/user/user1@gmail.com}"></a></li>
		</ul>
		<ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Se
					déconnecter</a></li>
		</ul>
	</div>
</nav>

<!-- navbar end -->




