
<!-- navbar start -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" id="navbar">
	<a class="navbar-brand" href="/">Mediatheque</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<form class="form-inline m-2">
		<input class="form-control mr-sm-2" type="search" placeholder="Search"
			aria-label="Search">
	</form>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
			
			<!-- CD start -->
			
		<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">CD</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" th:href="@{/cd}">Consulter</a>
				<a  sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" th:href="@{/createCD}">Créer</a>
			</div>
		</div>
		
		<!-- CD end -->
		
		<!-- DVD start -->
		
				<div class="dropdown m-2">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">DVD</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" th:href="@{/dvd}">Consulter</a>
				<a  sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" th:href="@{/createDVD}">Créer</a>
			</div>
		</div>
		
		<!-- DVD end -->
		
		<!-- Livre start -->
		
						<div class="dropdown">
			<button class="btn btn-secondary dropdown-toggle" type="button"
				id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false">Livre</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" th:href="@{/livre}">Consulter</a>
				<a  sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" th:href="@{/createLivre}">Créer</a>
			</div>
		</div>
		
		<!-- Livre end -->
		
		<!-- Search start -->
		
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" th:href="@{/}">Chercher</a></li>
		</ul>
		
		<!-- Search end -->
		
		<ul class="navbar-nav mr-auto" sec:authorize="!isAuthenticated()">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/connection}">Se connecter</a></li>
		</ul>
		<ul class="navbar-nav mr-auto" sec:authorize="!isAuthenticated()">
			<li class="nav-item"><a class="nav-link"
				th:href="@{/inscription}">S'inrégistrer</a></li>
		</ul>
		<ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
			<li class="nav-item"><a class="nav-link"
				sec:authentication="name" th:href="@{/user/user1@gmail.com}"></a></li>
		</ul>
		<ul class="navbar-nav mr-auto" sec:authorize="isAuthenticated()">
			<li class="nav-item"><a class="nav-link" th:href="@{/logout}">Se
					déconnecter</a></li>
		</ul>
	</div>
</nav>

<!-- navbar end -->




