  <ul class="pagination justify-content-center" id="pagination">
  
<!--   	  <li class="page-item">Total Items [[${totalItems}]] : Page [[${currentPage}]] of [[${totalPages}]]</li> -->

	<li class="page-item"><a class="page-link" th:if="${currentPage > 1}" th:href="@{/page/1}">First</a></li>
  
    <li class="page-item"><a class="page-link" th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}}">Previous</a></li>
    
    <li class="page-item" th:each="i: ${#numbers.sequence(1, totalPages)}"><a class="page-link d-flew" th:href="@{'/page/' + ${i}}">[[${i}]]</a></li>
    
    <li class="page-item"><a class="page-link" th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a></li>
    
    <li class="page-item"><a class="page-link"  th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a></li>
         
  </ul>