<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
	integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<title>Mon profile</title>
</head>
<body>
	<div class="container">
		<div class="row" th:insert="navbar" id="navbar"></div>

		<div class="text-center h6">Mon profile</div>
		<div class="text-center h5">
			<span th:text="${utilisateur.nom}"></span> <span
				th:text="${utilisateur.prenom}"></span>
			<div th:text="${utilisateur.email}"></div>
		</div>

		<span sec:authorize="hasAuthority('USER')">
			<div class="text-center h6">Mes emprunts</div>
			<div class="row" th:insert="emprunt" id="emprunt"></div>

			<div class="text-center h6">Historique</div>
			<div class="row" th:insert="historique" id="historique"></div>
		</span>
		<span sec:authorize="hasAuthority('ADMIN')">
		<div class="text-center h6">Vous avez le compte d'administrateur</div>
		</span>
		
		



		<!-- 		<div th:each="emprunt : ${listEmprunts}"> -->
		<!-- 			<div th:text="${emprunt.id}"></div> -->
		<!-- 			<div  th:each="item : ${emprunt.items}"  th:insert="items/itemType" id="itemType"></div> -->
		<!-- 			<div>Titre : <span th:each="item : ${emprunt.items}" th:text="${item.titre}"></span></div> -->
		<!-- 			<div>Auteur : <span th:each="item : ${emprunt.items}" th:text="${item.nom}"></span></div> -->
		<!-- 			<div>Date de parution : <span th:each="item : ${emprunt.items}" th:text="${#dates.format(item.dateDeParution, 'YYYY')}"></span></div> -->
		<!-- 			<div>Nombre d'éxemplaire : <span th:each="item : ${emprunt.items}" th:text="${item.nombreDExemplaires}"></span></div> -->
		<!-- 			<div> Date d'emprunt : <span th:text="${#dates.format(emprunt.dateEmprunt, 'dd-MM-yyyy')}"></span></div> -->
		<!-- 			<div> Date de retour : <span th:text="${#dates.format(emprunt.dateRetour, 'dd-MM-yyyy')}"></span></div> -->

		<!-- 		</div>	 -->



		<!-- 		<div data-th-object="${utilisateur }"> -->
		<!-- 			<div th:text="*{id}"></div> -->
		<!-- 			<div th:text="*{nom}"></div> -->
		<!-- 			<div th:text="*{prenom}"></div> -->
		<!-- 		</div> -->

	</div>

	</div>
</body>
</html>